<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>School-based Housing Price Forecast</title>

</head>

<body>
    <!-- content box -->
    <div id="page-content" class="box">

        <br>

        <div class="row">
            <div class="col-md-12">
                <article> 
                    Do home prices correlate with school district school assessment scores? <br>
                    There is a strong correlation between passing math and passing science 
                    and higher prices. <br>
                    For every 1 pt. increase in passing math score, home 
                    price increases by $<span style="color: blue"><b>2,419.52</b></span>.
                </article>                
            </div>
        </div>
    
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="headline">
                    <h4>School-based Forecast of Local Housing Price</h4>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">      
                <img src="/image/school_based_forecast.png" alt="School-based Forecast">
            </div>
        </div>
    
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="headline">
                    <h4>Graduation Rate vs. Reading Pass Rate</h4>
                </div>
            </div>
        </div>
    
        <br>

        <div class="row">
            <div class="col-md-3">         
                <img src="/image/school_graduation_rate.png" alt="School Graduation Rate">
            </div>
            <div class="col-md-3">&#160;&#160;</div>
            <div class="col-md-3">         
                <img src="/image/school_pass_reading.png" alt="School Reading Pass Rate">
            </div>
            <div class="col-md-3">&#160;&#160;</div>
        </div>

        <br>


        <div class="row">
            <div class="col-md-12">
                <div class="headline">
                    <h4>Math Pass Rate vs. Science Pass Rate</h4>
                </div>
            </div>
        </div>
            
        <br>
        
        <div class="row">
            <div class="col-md-3">         
                <img src="/image/school_pass_math.png" alt="School Math Pass Rate">
            </div>
            <div class="col-md-3">&#160;&#160;</div>
            <div class="col-md-3">                    
                <img src="/image/school_pass_science.png" alt="School Science Pass Rate">
            </div>
            <div class="col-md-3">&#160;&#160;</div>
        </div>

    </div>    

</body>

</html>
