<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Kansas City Missouri Crime Data</title>
</head>
  
<body>

    <div id="page-content" class="box">

        <div class="row">
            <div class="col-md-12">
                <article> 
                    The maps below include the location of crimes in KCMO in <b>May 2018</b> 
                    categorized by type (Drugs, Non-Violent, Traffic, Violent).  <br>
                    The first map includes all crime and the second map filters out 
                    all crimes except Violent crimes. <br>
                    Each dot on the map indicates the location of one separate incident.  <br>
                    Additional information about the location and nature of the crime 
                    can be found by hovering over the data point.  
                </article>     
            </div>
        </div>
    
        <br>
                
        <div class="row">
            <div class="col-md-12">         
                <div class='tableauPlaceholder' id='viz1528486574050' style='position: relative'>
                    <noscript>
                        <a href='#'><img alt='KCMO Dashboard ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ka&#47;KansasCityCrimeData&#47;KCMODashboard&#47;1_rss.png' style='border: none' /></a>
                    </noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> 
                        <param name='site_root' value='' />
                        <param name='name' value='KansasCityCrimeData&#47;KCMODashboard' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ka&#47;KansasCityCrimeData&#47;KCMODashboard&#47;1.png' /> 
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                    </object>
                </div>                
                <script type='text/javascript'>                    
                    var divElement = document.getElementById('viz1528486574050');                    
                    var vizElement = divElement.getElementsByTagName('object')[0];                    
                    vizElement.style.minWidth='420px';
                    vizElement.style.maxWidth='1100px';
                    vizElement.style.width='100%';
                    vizElement.style.height='587px';                    
                    var scriptElement = document.createElement('script');           
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
            </div>
        </div>
        
    </div>

</body>
</html>
