<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>City-based Housing Price Forecast</title>

</head>

<body>
    <!-- content box -->
    <div id="page-content" class="box">

        <br>

        <div class="row">
            <div class="col-md-12">
                <article> 
                    Mean home prices for these Kansas City Metro - Kansas homes have very 
                    similar trend lines since <b>2006</b>. <br>
                    The economic crisis of <b>2009</b> hit inner city prices harder than suburban areas. <br>
                    All began their bounce back together at the same time and reaching recovery near 
                    the same time.
                </article>     
            </div>
        </div>
    
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="headline">
                    <h4>Local Housing Price Trend by City</h4>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">      
                <img src="/image/house-price_trend-by-city.png" alt="House Price Trend by City">
            </div>
        </div>
    
        <br>


        <div class="row">
            <div class="col-md-12">
                <article> 
                    This ARIMA model predicts the average home price in Spring Hill, KS over the next three years. <br>
                    The outer gray band represent <b>80%</b> confidence. <br> 
                    The inner purple bands represent <b>95%</b> confidence. <br>
                    Currently, the average home price in Spring Hill, KS is $<span style="color: blue"><b>214,000</b></span>. <br>
                    With <b>80%</b> confidence, the average home price in Spring Hill, 
                    KS will range between $<span style="color: blue"><b>214,000</b></span> - $<span style="color: blue"><b>300,000</b></span>.
                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="headline">
                    <h4>Housing Price Forecast for City of Spring Hill, Kansas</h4>
                </div>
            </div>
        </div>
    
        <br>

        <div class="row">
            <div class="col-md-12">         
                <img id="forecast" src="/image/house-price-forecast.png" alt="Housing Price Forecast">
            </div>
        </div>    

    </div>    

</body>

</html>
